.SearchView{width: max-content;height: max-content;
}   #myInput {
    color: black;
    border: 0px;border-radius: 14px;
   
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 0.0px solid #ddd;
    margin-top: -1px;
    background-color: #000000;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(252, 252, 252);
    display: block
  }
  
  #myUL li a.header {
    background-color: #e2e2e2;
    cursor: default;
  }
  
  #myUL li a:hover:not(.header) {
    background-color: rgba(190, 7, 68, 0.253);
  }a{color: cornsilk;}iframe{border: 0.1px solid rebeccapurple;border-radius: 12px;}.videoinfo{
      float: center;
  }